$scrollbar-bg: #ffffff;
$thumb-bg: #d9d9d9;

$almost-black: #101010;
$almost-white: #f1f1f1;

//text and background colors
$dark-purple: #24272c;
$light-purple: #D9CAD6;

$blood-red: #D31A1A;
$eggshell-white: #FFFEF5;


$dark-blue: #343442;

//socials colors
$dribbble-pink: #EA4C89;
$linkedin-blue: #2066C2;
$spotify-green: #1DB954;

//colors assigns
$text-color: $dark-blue;
$background-color: $almost-white;
$header-font: "HK Grotesk";
$text-font: "HK Grotesk";
