//import font-family Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import "./colors.scss";

.front-header {
  font-family: Butler;
  font-size: 16rem;
  font-style: normal;
  font-weight: 700;
  line-height: 300px;
  letter-spacing: 0em;
  text-align: center;
  color: $text-color;
  white-space: nowrap;
}

h2.header-subtext {
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  z-index: 100;

  &:first-child {
    margin-bottom: 24px;
  }

  a {
    font-weight: 700;
    color: $text-color;
  }
}

.landing-link-container {
  a {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 10px;
    text-align: center;
    text-decoration: none;
    color: $text-color;
    text-transform: uppercase;
    transition: letter-spacing 0.2s ease;

    &:hover:not(.link-disabled) {
      letter-spacing: 14px;
      text-decoration: none;

      -webkit-animation: jello-horizontal 0.9s both;
	  animation: jello-horizontal 0.9s both;
    }

    &.link-disabled {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}
