h1 {
    color: #000000;
    font-family: Manrope;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 5px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }

h2 {
    font-family: Manrope;
    font-size: 48px;
    font-style: 800;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }