@keyframes slide-up {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.anim-slide-up {
  opacity: 0;
  animation: slide-up 1s cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
}

.delay-1 {
  animation-delay: .1s;
}

.delay-2 {
  animation-delay: .2s;
}

.delay-3 {
  animation-delay: .3s;
}
.delay-4 {
  animation-delay: .4s;
}
.delay-5 {
  animation-delay: .5s;
}
.delay-6 {
  animation-delay: .6s;
}

.delay-10 {
  animation-delay: 1s;
}

.delay-16 {
  animation-delay: 1.6s;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 64px 0;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
 }

 .h-divider{
   width: 100%;
   height: 1px;
   background: linear-gradient(90deg, rgba(237, 237, 237, 0) 0%, #EDEDED 13.54%, #EDEDED 50%, #EDEDED 85.42%, rgba(237, 237, 237, 0) 100%);
 }

 .v-divider-left{
   width: 1px;
   height: 100%;
   background: linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #EDEDED 13.54%, #EDEDED 50%, #EDEDED 85.42%, rgba(237, 237, 237, 0) 100%);
   position: absolute;
   top: 0;
   left: 20%;
 }
 
 .v-divider-right{
   width: 1px;
   height: 100%;
   background: linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #EDEDED 13.54%, #EDEDED 50%, #EDEDED 85.42%, rgba(237, 237, 237, 0) 100%);
   position: absolute;
   top: 0;
   right: 20%;

 }

.section-header {
  padding-top: 40px;
}

.logo-name {
  font-family: Manrope;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 55px;
letter-spacing: 0;
text-align: center;
color: #000000;
}

.logo-sub {
  font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 19px;
letter-spacing: 1.6px;
text-align: left;
color: #9D9D9D;
text-transform: uppercase;
margin-bottom: 40px;
}

.main-bg {
  width: 100%;
    height: 100%;
  background-color: #ffffff;
  padding: 0 20%;
}


.header-text, .header-image {
  width: 50%;
}



.main-header {
   color: #000000;
  font-family: Manrope;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.subheader {
  margin-top: 16px;
}

.subheader p {
  font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}

a {
  color: #2493B6;
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;
  border: none;
}

a:visited {
  color: #2493B6;
  text-decoration: none;
}

.img-container img:first-child {
  width: 220px;
  height: 172px;
}

.img-container img:last-child {
  width: 218px;
height: 171px;
}

h2 {
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 66px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}

.skills-row span{
  margin-top: 16px;
  font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #383838;
}

.skills-row .col {
  padding: 0;
}

.skills-row.low {
  margin-top: 80px;
}

.skills-row.low .col-3 {
  padding: 0;
}

.social-links a svg{
  color: #000000;
}

.social-links a:hover svg {
  color: #dedede;
}

.portrait-image {
  width:336px;
height:276px;
}

.stroke-image {
  border: 2px solid #000000;
}

@media only screen and (max-width: 600px) {
  .h-divider{
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(237, 237, 237, 0) 0%, #EDEDED 13.54%, #EDEDED 50%, #EDEDED 85.42%, rgba(237, 237, 237, 0) 100%);
  }

   .v-divider-left{
     width: 1px;
     height: 100%;
     background: linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #EDEDED 13.54%, #EDEDED 50%, #EDEDED 85.42%, rgba(237, 237, 237, 0) 100%);
     position: absolute;
     top: 0;
     left: 10%;
   }
   
   .v-divider-right{
     width: 1px;
     height: 100%;
     background: linear-gradient(180deg, rgba(237, 237, 237, 0) 0%, #EDEDED 13.54%, #EDEDED 50%, #EDEDED 85.42%, rgba(237, 237, 237, 0) 100%);
     position: absolute;
     top: 0;
     right: 10%;
  
   }
  
  .section-header {
    padding-top: 40px;
  }
  
  .logo-name {
    font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
  }
  
  .logo-sub {
    font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-align: left;
  color: #9D9D9D;
  text-transform: uppercase;
  margin-bottom: 40px;
  }
  
  .main-bg {
    width: 100%;
      height: 100%;
    background-color: #ffffff;
    padding: 0 10%;
  } 
  .main-header {
     color: #000000;
    font-family: Manrope;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }

  .header-text, .header-image {
    width: 100%;
  }
  
  .subheader {
    margin-top: 16px;
  }
  
  .subheader p {
    font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  }
  
  a {
    color: #2493B6;
    text-decoration: none;
    
  }
  
  a:hover {
    text-decoration: none;
    border: none;
  }
  
  a:visited {
    color: #2493B6;
    text-decoration: none;
  }
  
  .portrait-image {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-family: Manrope;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: #000000;
  }
}