@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.anim-slide-up {
  opacity: 0;
  -webkit-animation: slide-up 1s cubic-bezier(0.77, 0, 0.175, 1);
          animation: slide-up 1s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.delay-1 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.delay-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.delay-3 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.delay-4 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.delay-5 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.delay-6 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.delay-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-16 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #ffffff;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 6px;
  border: 3px solid #ffffff;
}

h1 {
  color: #000000;
  font-family: "HK Grotesk", sans-serif !important;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

h2 {
  font-family: "HK Grotesk", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

section {
  margin: 64px 0;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
}

.section-header {
  padding-top: 40px;
}

.main-bg {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 0 20%;
}

.header-text .header-image {
  width: 50%;
}

.subheader {
  margin-top: 0px;
}

p {
  font-family: "HK Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #7d7d7d;
  font-size: 18px;
}

a {
  color: #2493b6;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border: none;
}

a:visited {
  color: #2493b6;
  text-decoration: none;
}

.img-container img:first-child {
  width: 220px;
  height: 172px;
}

.img-container img:last-child {
  width: 218px;
  height: 171px;
}

.skills-row span {
  margin-top: 16px;
  font-family: "HK Grotesk", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #383838;
}

.skills-row.col {
  padding: 0;
}

.skills-row.low {
  margin-top: 80px;
}

.skills-row.low .col-3 {
  padding: 0;
}

.social-links a svg {
  color: #000000;
}

.social-links a:hover svg {
  color: #dedede;
}

.portrait-image {
  width: auto;
  height: 100%;
}

.preview-image {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .section-header {
    padding-top: 40px;
  }
  .main-bg {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0 16px;
  }
  .header-text,
  .header-image {
    width: 100%;
  }
  .social-links {
    margin-top: 24px;
  }
  a {
    color: #2493b6;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    border: none;
  }
  a:visited {
    color: #2493b6;
    text-decoration: none;
  }
  .portrait-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  h1 {
    color: #000000;
    font-family: "HK Grotesk", sans-serif !important;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  h2 {
    font-family: "HK Grotesk", sans-serif;
    font-size: 30px;
    font-style: bold;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
}

.soft-shadow {
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transition-property: -webkit-box-shadow border-color;
  transition-property: -webkit-box-shadow border-color;
  transition-property: box-shadow border-color;
  transition-property: box-shadow border-color, -webkit-box-shadow border-color;
  border: 2px solid #f4f5f7;
}

.soft-shadow:hover {
  border-color: #ffffff;
  -webkit-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=App.css.map */