@import "./stylesheets/typography";
@import "./stylesheets/animations";
@import "./stylesheets/fonts";
@import "./stylesheets/colors";

body::-webkit-scrollbar {
  width: 11px;
}

html,
body,
#root {
  height: 100%;
  max-height: 100%;
}


body {
  scrollbar-width: thin;
  scrollbar-color: $thumb-bg $scrollbar-bg;
  background-color: $background-color;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  background: $scrollbar-bg;
}
body::-webkit-scrollbar-thumb {
  background-color: $thumb-bg;
  border-radius: 6px;
  border: 3px solid $scrollbar-bg;
}

.main-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  .name-hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 50%;

    .name-container {
      position: relative;
      width: 100%;
    }

    .front-header {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      transition-duration: 0.15s;
      transition-timing-function: ease-in-out;
      transition-property: font-size, top, left;

      &.--outlined {
        font-size: 20rem;
        line-height: 384px;
        -webkit-text-stroke: 2px $text-color;
        color: $background-color;
        opacity: 20%;
        -webkit-text-fill-color: 2px $background-color;
        white-space: nowrap;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
      }
    }

    .positions-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 120px;
    }
  }

  .nav-links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .landing-link-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        margin: none;
      }

      &:first-child {
        border-right: 1px solid $text-color;
      }
      &:last-child {
        border-left: 1px solid $text-color;
      }
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 6rem;
      margin-bottom: auto;
      margin-top: 40px;
    }

    .bottom-bar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 6rem;
      margin-bottom: 40px;
    }
  }
}
