@import "./stylesheets/typography";
@import "./stylesheets/animations";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "HK Grotesk", sans-serif;
}

h1 {
  color: #000000;
  font-family: "HK Grotesk", sans-serif !important;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

h2 {
  font-family: "HK Grotesk", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

section {
  margin: 64px 0;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
}

.section-header {
  padding-top: 40px;
}

.main-bg {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 0 20%;
}

.header-text {
  .header-image {
    width: 50%;
  }
}


.subheader {
  margin-top: 0px;

  p {
    font-family: "HK Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #7D7D7D;
  font-size: 18px;
  }
}

a {
  color: #2493b6;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    border: none;
  }

  &:visited {
    color: #2493b6;
    text-decoration: none;
  }
}

.img-container {
  img:first-child {
    width: 220px;
    height: 172px;
  }

  img:last-child {
    width: 218px;
    height: 171px;
  }
}

.skills-row {
  span {
    margin-top: 16px;
    font-family: "HK Grotesk", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #383838;
  }

  &.col {
    padding: 0;
  }

  &.low {
    margin-top: 80px;
  }

  &.low .col-3 {
    padding: 0;
  }
}

.social-links {
  a svg {
    color: #000000;
  }

  a:hover svg {
    color: #dedede;
  }
}

.portrait-image {
  width: auto;
  height: 100%;
}

.preview-image {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .h-divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(237, 237, 237, 0) 0%,
      #ededed 13.54%,
      #ededed 50%,
      #ededed 85.42%,
      rgba(237, 237, 237, 0) 100%
    );
  }

  .v-divider-left {
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(237, 237, 237, 0) 0%,
      #ededed 13.54%,
      #ededed 50%,
      #ededed 85.42%,
      rgba(237, 237, 237, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 10%;
  }

  .v-divider-right {
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(237, 237, 237, 0) 0%,
      #ededed 13.54%,
      #ededed 50%,
      #ededed 85.42%,
      rgba(237, 237, 237, 0) 100%
    );
    position: absolute;
    top: 0;
    right: 10%;
  }

  .section-header {
    padding-top: 40px;
  }

  .main-bg {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0 10%;
  }

  .header-text,
  .header-image {
    width: 100%;
  }

  .subheader {
    margin-top: 0px;
  }

  .subheader p {
    font-family: "HK Grotesk", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 18px;
  }

  .social-links {
    margin-top: 24px;
  }

  a {
    color: #2493b6;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    border: none;
  }

  a:visited {
    color: #2493b6;
    text-decoration: none;
  }

  .portrait-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  h1 {
    color: #000000;
    font-family: "HK Grotesk", sans-serif !important;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }

  h2 {
    font-family: "HK Grotesk", sans-serif;
    font-size: 30px;
    font-style: bold;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
  
}

.soft-shadow {
  transition: .35s ease-in-out;
  transition-property: box-shadow border-color;
  border: 2px solid #F4F5F7;
  &:hover {
    border-color: #ffffff;
    box-shadow: 0px 20px 35px 0px hsla(0, 0%, 0%, 0.1);
  }
}
