body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-bg {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding: 0 15%;
} 
.main-header {
  color: #000000;
  font-family: Manrope;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}


@-webkit-keyframes smooth-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes smooth-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes smooth-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}