body {
  margin: 0;
  padding: 0;
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-bg {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(213deg, #ffffff 0%, #f0f0f0 46%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(213deg, #ffffff 0%, #f0f0f0 46%, #f2f2f2 100%);
  background-image: -o-linear-gradient(213deg, #ffffff 0%, #f0f0f0 46%, #f2f2f2 100%);
  background-image: linear-gradient(213deg, #ffffff 0%, #f0f0f0 46%, #f2f2f2 100%);
  -webkit-animation: smooth-gradient 30s ease infinite;
  -moz-animation: smooth-gradient 30s ease infinite;
  animation: smooth-gradient 30s ease infinite;
}
.main-header {
  font-size: 80px;
  color: black;
  font-weight: 800;
  letter-spacing: 0.8px;
}


@-webkit-keyframes smooth-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes smooth-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes smooth-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}