body {
  margin: 0;
  padding: 0;
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-bg {
  width: 100%;
  height: 100vh;
}
.main-header {
  font-size: 80px;
  color: black;
  font-weight: 900;
  letter-spacing: 0.8px;
}

.logo {
  letter-spacing: 1.8px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 56px;;
}
